# Ler tabelas em pdf com Python

### Instalação:

1. pip install tabula-py
2. verifique se tem o java no seu computador, caso contrário, instale o java
3. Reinicie o Jupyter
4. Usar no código
    - Caso mesmo assim o tabula dê algum erro e não reconheça o read_pdf, você pode importar:<br>from tabula.io import read_pdf

### Nosso exemplo:

- Faça o download do nosso PDF

- Local arquivo: http://www.vale.com/PT/investors/information-market/quarterly-results/ResultadosTrimestrais/Vale_IFRS_1T21_BRL_v26042021_vf.pdf

In [5]:
# Importar as bibliotecas
import tabula

# Realizar a leitura do PDF na página 11 e incluir os dados em uma lista
lista_tabelas = tabula.read_pdf("http://www.vale.com/PT/investors/information-market/quarterly-results/ResultadosTrimestrais/Vale_IFRS_1T21_BRL_v26042021_vf.pdf", pages = "11")
# Imprimindo a quantidade de tabelas encontramos e armazenamos na lista
print(len(lista_tabelas))

2

In [6]:
# Visualizar as tabelas coletadas anteriormente
for tabela in lista_tabelas:
    display(tabela)

         US$ milhões     1T21      %     4T20    %.1     1T20    %.2
0  Minerais Ferrosos  608.000   60,3  763.000   52,8  627.000   55,8
1     Metais Básicos  359.000   35,6  566.000   39,2  352.000   31,3
2             Carvão   29.000    2,9   65.000    4,5   80.000    7,1
3   Energia e outros   13.000    1,3   50.000    3,5   65.000    5,8
4              Total    1.009  100,0    1.444  100,0    1.124  100,0

         US$ milhões  1T21      %  4T20    %.1  1T20    %.2
0  Minerais Ferrosos    82   53,9    69   47,9    91   62,8
1     Metais Básicos    68   44,7    55   38,2    52   35,9
2   Energia e outros     2    1,3    20   13,9     2    1,4
3              Total   152  100,0   144  100,0   145  100,0

### Mas nem sempre a tabela vai vir bonitinha

In [21]:
# Realizar a leitura do PDF na página 10 e incluir os dados em uma lista
lista_tabelas2 = tabula.read_pdf("http://www.vale.com/PT/investors/information-market/quarterly-results/ResultadosTrimestrais/Vale_IFRS_1T21_BRL_v26042021_vf.pdf", pages = "10")
# Imprimindo a quantidade de tabelas encontramos e armazenamos na lista
print(len(lista_tabelas2))

1

In [22]:
# Armazenando o conteúdo encontrada na página 10
tabela = lista_tabelas2[0]
# Considerar a primeira linha como cabeçalho (nome das colunas)
tabela.columns = tabela.iloc[0]
# Separar a coluna "Variação percentual" em duas pois os dados estão todos juntos
tabela[[0, 1]] = tabela["Variação percentual"].str.split(" ", expand=True)
# Gerando nova tabela com apenas os dados da linha 1 até linha 8
tabela = tabela[1:9]
# Alterando o índice para a coluna "R$ milhões"
tabela = tabela.set_index("R$ milhões")
# Transformando a primeira linha em cabeçalho
tabela.columns = tabela.iloc[0]
# Gerando nova tabela com apenas os dados da linha 1 até o final
tabela = tabela[1:]
# Removendo colunas desnecesárias
tabela = tabela.drop("1T21/4T20 1T21/1T20", axis=1)
# Visualizando os dados da tabela localizada e armazenada
display(tabela)

nan,1T21,4T20,1T20,1T21/4T20,1T21/1T20
R$ milhões,,,,,
"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2%","121,8%"
Custos e despesas,(27.359),(35.434),(21.619),"-22,8%","26,6%"
Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5%","-10,0%"
EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8%","351,2%"
Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3%","103,5%"
EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7%","253,9%"
Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5%",n.m.

### E se ele não tiver reconhecendo a tabela?

2 parâmetros para testar:

- lattice
- guess

In [23]:
# lattice
lista_df = tabula.read_pdf("ResultadoVale.pdf", pages="10", lattice=True)
display(lista_df[0])

print("*" * 10)

# guess
lista_df = tabula.read_pdf("ResultadoVale.pdf", pages="10", guess=False)
display(lista_df[0])

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8
0,NaN,ndicadores financeiros selecionados,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,R$ milhões,NaN,NaN,NaN,Variação percentual,NaN,NaN,NaN,NaN
3,$ milhões,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1T21,4T20,1T20,1T21/4T20,1T21/1T20,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,"Receita de vendas, líquida",69.301,78.938,31.251,"-12,2%","121,8%",NaN,NaN,NaN
8,"eceita de vendas, líquida",69.30,NaN,78.93,NaN,31.25,"-12,2%",NaN,NaN
9,NaN,(27.359),(35.434),(21.619),NaN,NaN,NaN,NaN,NaN
10,NaN,(27.359,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,Despesas relacionadas a Brumadinho,(637),(25.002),(708),"-97,5%","-10,0%",NaN,NaN,NaN
12,espesas relacionadas a Brumadinho,(637,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,EBIT (LAJIR) ajustado,41.729,18.987,9.248,"119,8%","351,2%",NaN,NaN,NaN
14,BIT (LAJIR) ajustado,41.72,NaN,18.98,NaN,9.24,"119,8%",NaN,NaN
15,Margem EBIT ajustado (%),"60,2%","24,1%","29,6%","150,3%","103,5%",NaN,NaN,NaN
16,argem EBIT ajustado (%),"60,2",NaN,NaN,NaN,NaN,NaN,NaN,NaN
17,EBITDA (LAJIDA) ajustado,45.741,23.492,12.924,"94,7%","253,9%",NaN,NaN,NaN
18,BITDA (LAJIDA) ajustado,45.74,NaN,23.49,NaN,12.92,"94,7%",NaN,NaN
19,Lucro líquido atribuído aos acionistas da Vale,30.564,4.825,984,"533,5%",n.m.,NaN,NaN,NaN
20,ucro líquido atribuído aos acionistas da Vale,30.56,NaN,4.82,NaN,98,"533,5%",NaN,NaN

**********

,Unnamed: 0,Unnamed: 1
0,NaN,compensados por maiores receitas de subproduto...
1,NaN,mais altos do cobre no trimestre;
2,•,"O EBITDA dos negócios de Cobre foi de R$ 2,002..."
3,NaN,"abaixo do 4T20, principalmente devido aos meno..."
4,NaN,Uma ampla revisão de segurança para melhorar a...
5,NaN,disponibilidade de equipamentos de mineração e...
6,NaN,"menores volumes, os resultados foram afetados ..."
7,NaN,menor diluição de custos fixos e menores recei...
8,NaN,parcialmente compensados por maiores preços re...
9,NaN,melhorias das atividades de manutenção se mate...
10,NaN,NaN
11,Indicadores financeiros selecionados,NaN
12,R$ milhões,Variação percentual
13,NaN,1T21 4T20 1T20 1T21/4T20 1T21/1T20
14,"Receita de vendas, líquida","69.301 78.938 31.251 -12,2% 121,8%"
15,Custos e despesas,"(27.359) (35.434) (21.619) -22,8% 26,6%"
16,Despesas relacionadas a Brumadinho,"(637) (25.002) (708) -97,5% -10,0%"
17,EBIT (LAJIR) ajustado,"41.729 18.987 9.248 119,8% 351,2%"
18,Margem EBIT ajustado (%),"60,2% 24,1% 29,6% 150,3% 103,5%"
19,EBITDA (LAJIDA) ajustado,"45.741 23.492 12.924 94,7% 253,9%"
20,Lucro líquido atribuído aos acionistas da Vale,"30.564 4.825 984 533,5% n.m."
21,NaN,NaN
22,NaN,NaN
23,Reconciliação LAJIDA,NaN
24,R$ milhões,1T21 4T20 1T20
25,Lucro líquido atribuído aos acionistas da Vale,30.564 4.825 984
26,Prejuízo atribuído aos acionistas não controla...,(375) (508) (347)
27,Lucro líquido,30.189 4.317 637
28,"Depreciação, exaustão e amortização",4.012 4.505 3.676
29,Tributos sobre lucro,9.950 1.014 (3.102)
30,Resultado financeiro,176 3.683 10.486
31,LAJIDA (EBITDA),44.327 13.519 11.697
32,Itens para reconciliação de LAJIDA (EBITDA) aj...,NaN
33,Redução ao valor recuperável e baixa de ativos...,NaN
34,NaN,897 7.815 136
35,circulantes,NaN
36,Resultado de participações e outros resultados...,NaN
37,NaN,93 1.673 767
38,e joint ventures,NaN
39,Dividendos recebidos e juros de coligadas e jo...,424 485 324
40,LAJIDA (EBITDA) ajustado,45.741 23.492 12.924
41,NaN,NaN
42,NaN,NaN
43,NaN,NaN
44,NaN,10